/* Reset default margin and padding */
body,
h1,
h2,
h3,
p,
ul,
li,
form,
input,
textarea,
button {
  margin: 0;
  padding: 0;
}

/* Set body font and background color */
body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  background-image: url(images.avif);

}

/* Header styles */
header {
  display: flex;
  background-color: rgb(8, 8, 8) #0c2577 ;
  color: #080808;
  padding: 20px;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 600px;
  margin-top: 8px;
}

nav ul :hover {
  color: wheat;
  font-size: 20px;
}

nav ul li {
  display: inline;
  margin-right: 40px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Main styles */
main {
  padding: 20px;
}

section#contact {
    background-image: url(images.avif);

  padding: 20px;
  margin: 20px;
  border-radius: 5px;
}

section#contact h2 {
  color: #333;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  height: 150px;
}

button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

/* Footer styles */
footer {
  background-color: #62aaf3;
  color: #fff;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
