body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(197, 194, 194);
    background-image: url(images.avif);
    color: rgb(239, 237, 237);
    text-shadow: blue;
    top: auto;
    bottom: auto;
    align-self: start;
    animation: alternate-reverse;

    stroke-width: 1000px;
}

header {
    background-color:white #0c2577;
    color: #131414;
    padding: 20px;
    display: flex;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 600px;
    margin-top: 0;
}

nav ul  :hover{
    color: wheat;
    font-size: 20px;
}

nav ul li {
    display: inline;
    margin-right: 40px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #62aaf3;
    color: #fff;
    padding: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/* Page-Specific Styles */
section {
    margin-bottom: 20px;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
    header {
        padding: 10px;
    }

    nav ul li {
        display: block;
        margin: 10px;
    }
}    
